.body{
color: #434455;
background-color: #FFFFFF;
font-family: Roboto, sans-serif;
}

.link{
text-decoration: none;
}

.list{
list-style-type: none;
}

button{
cursor: pointer;
}

/* Header */

.studio{
color: #2E2F42;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.studio:hover,
.studio:focus{
color: #404bbf 
}

.navigation{
background-color: #FFFFFF;
}

.nav-logo{
color: #4d5ae5;
font-family: Raleway, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.navigation-link{color: #2E2F42;font-size: 16px;font-style: normal;font-weight: 500;line-height: 24px;letter-spacing: 0.32px;
}

.navigation-link:hover,
.navigation-link:focus{
color: #404bbf 

}

.adress{
color: #434455 ;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

.adress-link{
color: #434455;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

.adress-link:hover,
.adress-link:focus{
color: #404bbf 
}

/* Section 1 */

.section-effective{
background: #2E2F42;
}

.table-effective{
color: #FFF;
text-align: center;
font-size: 56px;
font-style: normal;
font-weight: 700;
letter-spacing: 0.02em;
line-height: 1.07;
}

.button-effective{
background: #4D5AE5;
color: #FFF;
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
}

.button-effective:hover,
.button-effective:focus{
background-color: #404BBF
}

/* Sectuion 2 */

.advantages{
color: #2E2F42;
font-size: 20px;
font-style: normal;
font-weight: 500;
letter-spacing: 0.02em;
line-height: 1.2; 
}

.advan-text{
color: #434455;
background-color: #FFFFFF;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* Section 3 */

.section-team{
background: #F4F4FD;
}

.table-team{
color: #2E2F42;
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
letter-spacing: 0.02em;
text-transform: capitalize;
line-height: 1.11;
}

.team-list{
    background-color: #FFFFFF;
}

.worker-photo{
background: url(<path-to-image>), lightgray -200px -7.128px / 251.515% 170.277% no-repeat;
}

.name-team{
color: #2E2F42;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.job-name{
color: #434455;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* Sectio 4 */

.table-portfolio{
color: #2E2F42;
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.portfolio-app{
color: #2E2F42;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.portfolio-change{
color: #434455;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* Footer */

.footer{
background-color: #2E2F42;
}

.foot-logo{
color: #4d5ae5;
font-family: Raleway, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.footer-web{
    color: #4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-studio{
    color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.text-footer{
color: #F4F4FD;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}